.demo-table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.01rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  flex-direction: column;
}

.clear-button {
  grid-column: 1 / -1;
  align-self: start;
}

.page-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.filters-description {
  font-size: 0.9rem;
}

.inventory-title {
  font-size: 1.5rem;
  font-weight: bold;
}
