<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="inventory-list-title"><strong>INVENTORY</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-card class="search-card">
        <p>
          This page lists the organization's current inventory, including both stocked and desired items.
          <br>Click on any item to modify its properties or remove it from inventory. Click the <strong>'Add Item'</strong> button to add new items to the inventory.
          <br>The inventory can be sorted by various properties. Use the <strong>'Sort By'</strong> section to change the order of items. When by type, items will be subdivided by category.
          <br>When restocking, use the <strong>'Reset Locations'</strong> button to remove locations from all items. (This CANNOT be undone!)
        </p>
      </mat-card>

        <div class="flex-row gap-8 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <input matInput data-test="itemNameInput" placeholder="Name" [(ngModel)]="itemName">
            <mat-hint>Search inventory by name</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <input matInput data-test="itemLocationInput" placeholder="Location" [(ngModel)]="itemLocation">
            <mat-hint>Search by location</mat-hint>
          </mat-form-field>

          <mat-form-field [style.width.px]=100 class="input-field">
            <!--<mat-label>Stock</mat-label> -->
            <input matInput data-test="itemStockInput" type="number" placeholder="" min="0" max="9999"
              [(ngModel)]="itemStock">
            <mat-hint>Minimum</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Type</mat-label>
            <input
              matInput
              placeholder="Any Type"
              [ngModel]="itemType()"
              (ngModelChange)="itemType.set($event)"
              [matAutocomplete]="auto"
              data-test="itemDescSelect"
            >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTypeLabel">
            <mat-option [value]="''">Any Type</mat-option>
            @for (option of filteredTypeOptions(); track option.value) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
            </mat-autocomplete>
            <mat-hint>Search by type</mat-hint>
          </mat-form-field>
          <button
            mat-raised-button
            type="button"
            color="accent"
            type="back"
            [style.height.px]=55
            (click)="revealReset()"
            data-test="resetLocationButton"
            >
            Location Reset
          </button>
          @if (resetVisible()) {
              <button
              mat-raised-button
              type="button"
              color="warn"
              type="back"
              [style.height.px]=55
              data-test="resetLocationButton"
              (click)="resetLocations()"
              >
            Clear All Locations
            </button>
          }

        </div>

        <div class="flex-row gap-8 flex-wrap">

          <mat-form-field [style.width.px]=760 class="input-field">
            <input matInput data-test="itemDescInput" placeholder="Description" [(ngModel)]="itemDesc">
            <mat-hint>Search descriptions</mat-hint>
          </mat-form-field>

          <mat-form-field [style.width.px]=250 class="input-field">
            <!-- <mat-label>Desc</mat-label> -->
            <mat-select placeholder="Sort by Name" [(ngModel)]="sortBy" data-test="sortBySelect">
              <mat-option value="name">Sort by Name</mat-option> <!--Must be provided, otherwise reset won't work -->
              <mat-option value="name_des">Sort by Name (Des)</mat-option>
              <mat-option value="type">Sort by Type</mat-option>
              <mat-option value="location">Sort by Location</mat-option>
              <mat-option value="location_des">Sort by Location (Des)</mat-option>
              <mat-option value="quantity">Sort by Quantity</mat-option>
              <mat-option value="quantity_des">Sort by Quantity (Des)</mat-option>
            </mat-select>
            <mat-hint>Select Sort Order</mat-hint>
          </mat-form-field>
        </div>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  @if (serverFilteredItems()) {
  <div class="flex-1">
    <!-- The actual inventory list -->
    <div>
      <mat-card>
        <mat-card-content>
          @if (sortBy() === "type") { <!-- Special sectioned list for type -->
            <mat-nav-list class="item-nav-list" color="accent">
              @for (collection of typeFilteredItems(); track collection.items) {

                <h2 matSubheader>{{ collection.header }}</h2>
                <!--Sublist for each item type-->
                @for (item of collection.items; track item._id) {
                  @if (item.stocked > 0) {
                    <a mat-list-item [routerLink]="['/inventory', item._id]" class="item-list-item">
                    <span matListItemTitle mat-line class="item-list-name"> x<strong>{{item.stocked}}</strong> ~ {{item.name}}</span>
                    @if (item.location === "N/A") {
                      <span matListItemLine class="item-list-desc"> {{item.desc}} ~ location not provided</span>
                    }
                    @else {
                      <span matListItemLine class="item-list-desc"> {{item.desc}} ~ stored in {{item.location}}</span>
                    }
                    </a>
                  } @else {
                    <a mat-list-item disabled="true" [routerLink]="['/inventory', item._id]" class="item-list-item">
                    <span matListItemTitle mat-line class="item-list-name"> <strong>Unstocked</strong> ~ {{item.name}}</span>
                    <span matListItemLine class="item-list-desc"> {{item.desc}} ~ location not available</span>
                    </a>
                  }
                }
              }
            </mat-nav-list>
          }
          @else { <!--Regular, untyped sorting-->
            <mat-nav-list class="item-nav-list" color="accent">
              @for (item of filteredItems(); track item._id) {


               <div class="quantity-controls">
              <button mat-icon-button
                      data-test="minusButton"
                      (click)="updateQuantity(item._id!, item.stocked - 1)"
                      [disabled]="item.stocked === 0">
                <mat-icon>remove</mat-icon>
              </button>

              <span class="quantity-number">
                {{ item.stocked }}
              </span>

              <button mat-icon-button
                      data-test="plusButton"
                      (click)="updateQuantity(item._id!, item.stocked + 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
                @if (item.stocked > 0) {
                  <a mat-list-item [routerLink]="['/inventory', item._id]" class="item-list-item">
                  <span matListItemTitle mat-line class="item-list-name"> <strong>x{{item.stocked}}</strong> ~ {{item.name}}</span>
                  @if (item.location === "N/A") {
                      <span matListItemLine class="item-list-desc"> {{item.desc}} ~ location not provided</span>
                    }
                    @else {
                      <span matListItemLine class="item-list-desc"> {{item.desc}} ~ stored in {{item.location}}</span>
                    }
                  </a>
                } @else {
                  <a mat-list-item disabled="true" [routerLink]="['/inventory', item._id]" class="item-list-item">
                  <span matListItemTitle mat-line class="item-list-name"> <strong>Unstocked</strong> ~ {{item.name}}</span>
                  <span matListItemLine class="item-list-desc"> {{item.desc}} ~ location not availible</span>
                  </a>
                }
              }
            </mat-nav-list>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  } @else {
  <div class="flex-1" class="item-error">
    <mat-error>
      <strong>Loading items...</strong>
    </mat-error>
    <mat-error>
      If items aren't loading, check your network and server.
    </mat-error>
  </div>
  }

</div>

<button mat-fab class="add-item-fab" matTooltip="Add Item" matTooltipPosition="left" routerLink="/inventory/new"
  data-test="addItemButton">
  <mat-icon class="md-24" aria-label="Add Item">add</mat-icon>
</button>
