<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="addInventoryForm" (ngSubmit)="submitForm();">
      <mat-card class="add-item-card">
        <mat-card-header>
          <mat-card-title class="add-item-title">Modify {{item().name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name"
                required [ngModel]="item().name">
              @if (formControlHasError('name')) {
                <mat-error data-test="nameError">
                  {{getErrorMessage('name')}}
                </mat-error>
              }
              <mat-hint>Name of item</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput formControlName="location"
                required [ngModel]="item().location">
              @if (formControlHasError('location')) {
                <mat-error data-test="locationError">
                  {{getErrorMessage('location')}}
                </mat-error>
              }
            <mat-hint>Storage location of item</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput formControlName="desc" [ngModel]="item().desc">
            <mat-hint>Optional description of item (brand, color, etc.)</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Stocked</mat-label>
              <input matInput type="number"
                formControlName="stocked" required [ngModel]="item().stocked">
              @if (formControlHasError('stocked')) {
                <mat-error data-test="stockedError">
                  {{getErrorMessage('stocked')}}
                </mat-error>
              }
            <mat-hint>Number currently in stock</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select required formControlName="type" [ngModel]="item().type">
                <!-- Copied from inventory_list.component, needs to stay consistent! -->
                <mat-option value="pencil">Pencils</mat-option>
                <mat-option value="colored_pencil">Colored Pencils</mat-option>
                <mat-option value="sharpener">Sharpeners</mat-option>
                <mat-option value="marker">Markers</mat-option>
                <mat-option value="highlighter">Highlighters</mat-option>
                <mat-option value="dry_erase_marker">Dry-Erase Markers</mat-option>
                <mat-option value="crayon">Crayons</mat-option>
                <mat-option value="pen">Pens</mat-option>
                <mat-option value="eraser">Erasers</mat-option>
                <mat-option value="folder">Folders</mat-option>
                <mat-option value="binder">Binders</mat-option>
                <mat-option value="notebook">Notebooks</mat-option>
                <mat-option value="glue">Glue</mat-option>
                <mat-option value="ruler">Rulers</mat-option>
                <mat-option value="scissors">Scissors</mat-option>
                <mat-option value="headphones">Headphones</mat-option>
                <mat-option value="backpack">Backpacks</mat-option>
                <mat-option value="box">Boxes</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
              @if (formControlHasError('type')) {
                <mat-error data-test="typeError">
                  {{getErrorMessage('type')}}
                </mat-error>
              }
            <mat-hint>Type of Item (select Other for miscellaneous items)</mat-hint>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions align="start">

          <button
            mat-raised-button
            type="button"
            color="primary"
            [disabled]="!addInventoryForm.valid"
            type="submit"
            data-test="confirmAddItemButton"
            >
            Save Changes
          </button>

        </mat-card-actions>
      </mat-card>
    </form>
    <mat-card-actions align="start">
    <button
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="false"
      type="back"
      routerLink="/inventory"
      data-test="backToInventoryButton"
      >
      Back to Inventory
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="false"
      type="back"
      data-test="backToInventoryButton"
      (click)="resetForm()"
      >
      Reset Changes
    </button>
    <button
      mat-raised-button
      type="button"
      color="warn"
      [disabled]="false"
      type="delete"
      routerLink="/inventory"
      data-test="deleteItemButton"
      (click)="deleteForm()"
      >
      Delete Item
    </button>
    </mat-card-actions>
  </div>
</div>
